html, body {
  min-height: 100%;
  min-width: 100%;
  max-width: 1044px;
}

.inline-block{
    display: inline-flex;
}

.footer ul {
  font-family: 'Comfortaa';
  list-style-type: none;
  padding: 30px;
  overflow: hidden;
  background-color: #4C6D4C;

}
footer {background-color:rgba(76, 109, 76, 0.6)
}
.copyright {bottom: 100px; font-size: 14px;}
ul {
  font-size: 30px;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #4C6D4C;
  color:#ffffff
}
ul #style {
    list-style-type: none;
    margin: 0;
    font-family: 'Comfortaa';
    padding: 10px;
    overflow: hidden;
  }
  
  li {
    float: right;
    font-style: bold;
  }
  
  li #about {

    color: rgb(0, 0, 0);
    text-align: center;
    padding: 16px;
    font-family: 'Comfortaa';
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #4C6D4C;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 75% 25%;	
  }
  body {
      background-image: url("../UX_UI_HW_17/images/leaf1.png");
      background-repeat: repeat;
      background-position: 0px -10px;
    }

    .logo-image{
      border-radius: 50%;
      margin-top: -6px;
      padding: 1px;
  }
  h1 {position: relative;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 56px;
    left: 30%;
    bottom: 70%;
    letter-spacing: 0.05em;
    
    color: #4C6D4C;}

button {position: absolute;
    width: 261px;
    height: 70px;
    left: 250px;
    top: 300px;
    background: #4C6D4C;
    border-radius: 33px;
    font: bold;
    color: white;
    font-size: 30px;
    transition-duration: 0.4s;
}
button:hover {
    background-color: rgba(183, 84, 71, 1);
    color: white;
  }

.hero-text {background-color: #ffffff;box-sizing: border-box;

    position: relative;
    width: 768px;
    height: 390px;
    bottom: 700px;
    padding: 10px;
    left: 30%;
    align-content: center}

    .hero-text p {text-align:center;
      letter-spacing: 0.05em;
    margin: 15px;
  font-size: 30px}

 h2 {
        background: rgba(76, 109, 76, 0.6);
        color: white;
        font-size: 50px;
        border-radius: 33px;
        width: 1100px;
        margin: 16px;
        padding: 16px;
        position: relative;
        left: 4%;
        text-align: center;
}
        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 0px;
            background: #4C6D4C;
            height: 100px;
                position: absolute;
                right: 0;bottom:-1000px;left:0;
          }
          .footer a {
            padding: 20px 40px;
            font-family: 'Comfortaa';
            text-decoration: none;
          }

.grow  {
 transition: all .2s ease-in-out; 
}
            
.grow:hover { 
transform: scale(1.1); 
 }

 .skills p {align-items: center; position: relative; text-align: left; grid-template-columns:33% 33% 33%}         


.row-padding {display: flex; flex-direction: row; justify-content: center}
.flex-container {justify-content: center}
h3 {font-style: bold; font-size: 40px; color: #4C6D4C}
p {align-content: center}
.skill-text {margin-top: 20px;
}